accelerate
beautifulsoup4
bitsandbytes; platform_system == "Linux"
datasets
dnspython
evaluate
huggingface-hub
ipykernel
ipywidgets
joblib
jupyterlab
lime
lxml
matplotlib
numpy
pandas
peft
protobuf
pydantic
pymongo
python-dotenv
pyyaml
scikit-learn
scipy
sentencepiece
shap
tokenizers
torch
timm
tqdm
transformers
tranco
trl
unsloth
unsloth_zoo
wandb
